/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}

.msg-success {
    background-color: #174900;
    color: #fff;
}

.container {
    margin: 40px 0 0 40px;    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
